@using Microsoft.AspNet.Identity
@using PagedList.Mvc;
@using PagedList;

<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Друзья";
}

<div class="row" id="friends">
    @Html.Partial("_FriendsPartial")
</div>

