@using Microsoft.AspNet.Identity
@using PagedList.Mvc;
@using PagedList;

<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Друзья";
}

<div class="row" id="friends">
    <ul class ="nav nav-tabs">
        <li class="active">@Html.ActionLink("Мои друзья", "Index")</li>
        <li>@Html.ActionLink("Я зову в друзья", "FriendRequest")</li>
        <li>@Html.ActionLink("Меня зовут в друзья", "FriendRequest")</li>
    </ul>
    @Html.Partial("_FriendsPartial")
</div>

